<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:include="fragments/Header :: header">


</div>

<br/><br/><br/><br/><p> </p><br/>
 <!-- Page Content -->
    <div class="container">
        <div class="col-sm-8">
            <div class="input-group">
                <input style="margin-top: 10px;" type="text" name="patient_search_list" id="patient_search_list" onkeyup="search_patient(this.value);"
                       placeholder="" class="form-control"/>
                <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"  style="margin-top: 10px;">
                                    <span class="glyphicon glyphicon-search">

                                    </span>
                                </button>
                </span>
            </div>
        </div>
        <div class="input-group col-sm-4">
            <h4>
                <a class="btn btn-sm btn-primary" th:href="@{|/patient/add.form|}">Add new Patient</a>
            </h4>
        </div>
    </div>
    <!-- /.container -->
    <div th:include="fragments/Footer::footer"></div>
 <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>



</html>
